# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
.env
.env*local

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# SSL
*.cert
*.key